<div class="main text-muted">
  <h3 class="font-weight-bold">
    <%= @service.name %>
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div alt="<%= @service.name %>" class="img service-img"></div>
      </div>
      <div class="col-8">
        <div class="embed-responsive-embed-responsive-16by9">
          <iframe class="allowfullscreen embed-responsive-item service-clip"></iframe>
        </div>
      </div>
    </div>
      <div class="col-8">
        <div class="text-justify">
          <%= @service.description  %>
        </div>
      </div>
    </div>
  </div>
</div>
