.container.rounded.bg-white.mt-5.mb-5
  .row
    .row
      .col-md-6.col-lg-4
      - @users.each do |user|
        .single-service
        .part-1
          %h3.title 
            = user.email
          