#user-section
  .container
    .row
      .col-md-3.border-right
        .d-flex.flex-column.align-items-center.text-center.p-3.py-5
          %img.rounded-circle.mt-5{:src => "sparrow.jpeg"}/
          = image_tag 'sparrow.jpeg'
          %span.font-weight-bold Egor
          %span.text-black-50=@user.email
          %span
      .col-md-5.border-right
        .p-3.py-5
          .d-flex.justify-content-between.align-items-center.mb-3
            %h4.text-right Profile Settings
          .row.mt-2
            .col-md-6
              %label.labels Name
              %input.form-control{:placeholder => "first name", :type => "text", :value => ""}/
            .col-md-6
              %label.labels Surname
              %input.form-control{:placeholder => "surname", :type => "text", :value => ""}/
          .row.mt-3
            .col-md-12
              %label.labels Address
              %input.form-control{:placeholder => "enter address", :type => "text", :value => ""}/
          .mt-5.text-center
            = link_to 'Check Basket', '/basket', class: 'nav-link'
  .container
    .row
      .col-md-3.border-right
      .col-md-5.border-right
        .p-3.py-5
          .d-flex.justify-content-between.align-items-center.mb-3
  .container
    .row
      .col-md-3.border-right
      .col-md-5.border-right
        .p-3.py-5
          .d-flex.justify-content-between.align-items-center.mb-3
  .container
    .row
      .col-md-3.border-right
      .col-md-5.border-right
        .p-3.py-5
          .d-flex.justify-content-between.align-items-center.mb-3
  .container
    .row
      .col-md-3.border-right
      .col-md-5.border-right
        .p-3.py-5
          .d-flex.justify-content-between.align-items-center.mb-3
  .container
    .row
      .col-md-3.border-right
      .col-md-5.border-right
        .p-3.py-5
          .d-flex.justify-content-between.align-items-center.mb-3