.company-block.text-left
  %h1.title Editing Your Company
  = render 'form', company: @company
  = link_to 'Show', @company, class: "btn btn-primary"
  |
  = link_to 'Back', root_path, class: "btn btn-primary"
