%body
  .container-fluid.text-center
    %h1=@company.name
    %p=@company.description
  .container-fluid.text-center.company-block
    %h2.title SERVICES
    %h4.title What we offer
    %br/
    - @services.each do |service|
      .text-center
        %h4=service.name
        %p.description=service.description
        %a{:href => "#"}
        %i.fas.fa-arrow-circle-right>
        %a.card-link{:href => "/services/#{service.id}"} Read More
        %br
          - if @company.user_id == current_user.id
            = link_to 'Destroy', @company, method: :delete, class: "btn btn-primary"