!!!
%html
  %head
    :css
      .jumbotron {
        background-color: #f4511e;
        color: #fff;
        padding: 100px 25px;
      }
      .container-fluid {
        padding: 60px 50px;
      }
      .bg-grey {
        background-color: #f6f6f6;
      }
      .logo-small {
        color: #f4511e;
        font-size: 50px;
      }
      .logo {
        color: #f4511e;
        font-size: 200px;
      }
      @media screen and (max-width: 768px) {
        .col-sm-4 {
          text-align: center;
          margin: 25px 0;
        }
      }
  %body
    .jumbotron.text-center
      %h1=@company.name
    .container-fluid.text-center.bg-grey
      %h2 SERVICES
      %h4 What we offer
      %br/
      .row
        .col-sm-4
          %span.glyphicon.glyphicon-off.logo-small
          %p
          - @services.each do |service|
            .col-sm-4
              %h4=service.name
              %p=service.description
              %a{:href => "#"}
                %i.fas.fa-arrow-circle-right>
                %a.card-link{:href => "/services/#{service.id}"} Read More
      .row
        %section.section.comments
          .container
            %h2.subtitle.is-5
              %strong= @company.messages.count
              Comments
            = render @company.messages  
            .comment-form
              %hr/
              %h3.subtitle.is-3 Leave a reply
              = render 'messages/form'