#about-section {
  background-color: #211f24;
} 

.description {
  margin-bottom: 22px;
  color: #6f6f71;
  font-size: 14px;
  line-height: 1.8em;
}

.title {
  position: relative;
  margin-bottom: 40px;
  color: #6f6f71;
  padding-bottom: 25px;
  font-weight: 700;
}
