 /*
*= require simple_calendar
*= stub "active_admin"
*= require_tree .
*= require_self
*/ 
@import "bootstrap";
@import "simple_calendar";

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.pagination {
  display: flex;
  padding-top: 20;
  list-style: none;
  border-radius: 0.25rem;
}

.paginator-block {
  background-color: #211f24;
}

.paginate-button {
  color: #cc073c;
  background-color: #111822;
  width: 75px;
  height: 35px;
  border: solid 1px #cc073c;
}

.current-paginate-button {
  color: #111822;
  background-color: #cc073c;
  border: solid 1px #111822;
  width: 75px;
  height: 35px;
}