// Place all the styles related to the Company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-fluid {
  background-color: #6c4daf;
  padding: 200px 50px;
}

.company-container {
  position: relative;
  left: 17%; 
}

.company-title {
  position: relative;
  margin-bottom: 40px;
  color: #6f6f71;
  padding-bottom: 15px;
  font-weight: 700;
}

.description {
  margin-bottom: 22px;
  color: #6f6f71;
  font-size: 14px;
  line-height: 1.8em;
}

.company-create {
  background-color: #211f24;
  padding: 260px;
}

.company-block {
  background-color: #211f24;
  padding: 100px;
}

#company-section {
  background-color: #211f24;
  padding: 120px;
} 