// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.order-color {
  background-color: #211f24;
}

.order-title {
  color: #6f6f71;
}

.all-color {
  color: #cc073c;
}
  
h4 {
  color: blue;
}