// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.service-create {
  background-color: #211f24;
  padding: 232.5px;
}

.service-container {
  position: relative;
  text-align: center;
}

.service-form-control {
  width: 40%;
  position: relative;
  left: 30%;
  text-align: center;
}

.service-title {
  position: relative;
  margin-bottom: 40px;
  color: #6f6f71;
  padding-bottom: 15px;
  font-weight: 700;
}

.service-statistics {
  width: 70%;
  float: left;
}

.diagrams {
  text-align: center;
  color: #c6c6c9;
  margin: 50px;
  width: 300px;
}

.diagrams-item {
  display: inline-block;
}

hr.new5 {
  border: 1px solid rgb(108, 31, 116);
  border-radius: 5px;
}

.service-block {
  background-color: #211f24;
  padding-bottom: 575px;
}

#service-section {
  background-color: #211f24;
  padding: 120px;
} 

.all-color {
  color: #c6c6c9;
}

.attributes-list {
  width: 250px; 
  list-style: none;
  padding-inline-start: 0px;
}

.attributes-list li {
  display: flex;
  justify-content: space-between;  
  padding: 5px 5px 5px 5px;
}

.attribute-name {
  color: #6c4daf;
}

.attribute-link {
  color: #cfcdd1;
}

.attribute-value {
  color: #cfcdd1;
}

.attribute-link:hover {
  color: #cc073c;
  text-decoration: none;
}

.main {
  position: absolute;
  left: 20%; 
  top: 100px;
  color: #cfcdd1;
}

.section-name {
  color: #cc073c;
}

.service-list {
  list-style: none;
  height: auto;
  position: relative;
  padding: 30px 0px;
}

.service-list li {
  display: inline-block;
  width: 190px;
  height: 170px;
}

.service-clip {
  height: 300px;
  width: 600px;
}

.service-img {
  height: 300px;
  width: 300px;
  border: 1px solid;
}

.text-justify {
  width: 600px;
  padding: 30px 0px;
}