// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.blue {
  background-color: #6c4daf;
}

.section {
  background-color: #322f3a;
  padding: 200px;
} 

.password-section {
  background-color: #322f3a;
  padding: 400px;
} 

.error-message {
  color:#dc3545;
  margin-bottom: 40px;
  padding-bottom: 25px;
}