// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.blue {
  background-color: #6c4daf;
}

.log-in-section {
  background-color: #322f3a;
  padding: 274px;
}

.sign-up-section {
  background-color: #322f3a;
  padding: 110.73px;
  overflow-x:hidden;
} 

.session-container {
  position: relative;
  left: 21%; 
}

.session-title {
  position: center;
  margin-bottom: 4px;
  color: #c6c6c9;
  padding-bottom: 5px;
}

.password-section {
  background-color: #322f3a;
  padding: 400px;
} 

.error-message {
  color:#dc3545;
  margin-bottom: 40px;
  padding-bottom: 25px;
}

.control {
  width: 30%;
}
