// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#user-section {
  background-color: #211f24;
}

.image {
  height: 200px;
  width: 200px;
}

.comment-user-image {
  height: 30px;
  width: 30px;
}

.user-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  left: 20%;
}

.user-title {
  position: relative;
  margin-bottom: 4px;
  color: #c6c6c9;
  padding-bottom: 5px;
  font-weight: 70;
}

.button {
  background-color: #211f24;
  font-style: italic;
}

.black {
  background-color: #211f24;
  padding: 300px;
}

.profile-block {
  background-color: #211f24;
  padding: 90px;
  
}

.border-right {
  padding: 300px;
}

.rounded-circle {
  border-radius: 50% !important;
}

.field {
  padding-bottom: 8px;
}