.black.text-center
  %h1.title Editing Time Limit
  = render 'form', time_limit: @time_limit
  = link_to 'Show', @time_limit, class: "btn btn-primary"
  |
  = link_to 'Back', time_limits_path, class: "btn btn-primary"
