#messages.col-md-12.col-lg-12{:style => "height: 250px; overflow-y: scroll;"}
  - Message.all.last(50).each do |message|
    = render 'messages/message', message: message, currentUser: current_user.id, creator: message.user.id
= render 'messages/form'
